[Desktop Entry]
Version=1.0
Type=Application
Name=Gosh Distrobox Manager
GenericName=Container Manager
Comment=Manage Distrobox containers with ease
Icon=io.github.gosh_distrobox_manager
Exec=gosh_distrobox_manager
Terminal=false
Categories=System;Utility;ContainerManagement;
Keywords=distrobox;container;docker;podman;
StartupNotify=true
StartupWMClass=io.github.gosh_distrobox_manager
X-GNOME-UsesNotifications=true
